:root {
    --tint-my-team: #efe;
    --tint-other-team: #fee;
    --tint-neutral: #eee;
}

div {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.spacer {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

#error {
    pointer-events: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
}

#error.severity-info {
    background-color: rgba(173, 216, 230, 0.9);
}

#error.severity-warning {
    background-color: rgba(255, 255, 0, 0.9);
}

#error.severity-error {
    background-color: rgba(240, 128, 128, 0.9);
}

body, input {
    font-family:
        ui-monospace,
        Menlo,
        Monaco,
        'Cascadia Mono',
        'Segoe UI Mono',
        'Roboto Mono',
        'Oxygen Mono',
        'Ubuntu Mono',
        'Source Code Pro',
        'Fira Mono',
        'Droid Sans Mono',
        'Consolas',
        'Courier New',
        monospace;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 0;
    background-color: #cec;
}

#nick-required {
    margin: 1rem;
}

#sidebar {
    min-width: 350px;
    gap: 0;
    background-color: #eee;
    max-width: fit-content;
}

.sidebar-split {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

@media only screen and (min-width: 800px) {
    .sidebar-split {
        flex-wrap: nowrap;
    }
}

#welcome, #lobby, #in_game {
    padding: 10px;
}

#lobby, #in_game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

#lobby-teams > div {
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
    min-width: 350px;
}

.global-chat {
    padding: 10px;
    min-width: 300px;
    background-color: #cce;
}

.messages {
    max-height: 50vh;
    min-height: 100px;
    overflow-y: scroll;
    padding-right: 10px;
    gap: 5px;
}

.chat-message {
    gap: 10px;
    justify-content: flex-start;
}

.chat-message .content {
    max-width: 500px;
}

.chat-message .author {
    font-weight: bold;
}

.system-msg {
    font-style: italic;
}

.player-list {
    gap: 5px;
    padding: 10px;
}

.team {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

.keywords {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
}
.keywords .keyword {
    background-color: #efe;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.matrix {
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}

.matrix th, .matrix td {
    border: 1px solid black;
}

.matrix td {
    padding: 5px;
}

.col-clue {
    min-width: 120px;
    max-width: 20vw;
    overflow-x: scroll;
}

.input-action {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.input-action h1 {
    margin: 0;
    font-size: 1.2em;
}

.history {
    max-height: 30vh;
    overflow: auto;
}
.history table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
.history thead {
    background-color: white;
}
.history thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.history th, .history td {
    border: 1px solid black;
}
.col-round {
    background-color: var(--tint-neutral);
}

.tint-neutral {
    background-color: var(--tint-neutral);
}
.tint-my-team {
    background-color: var(--tint-my-team);
}
.tint-other-team {
    background-color: var(--tint-other-team);
}

span[x-hl] {
    border-radius: 3px;
    background-color: rgba(230, 240, 230, 0.5);
    transition: background-color 250ms linear;
}
span[x-hl].highlight {
    background-color: rgba(255, 255, 230, 0.9);
}

.tiebreaker-inputs td {
    padding: 5px 10px;
}

.rule-links {
    padding-left: 10px;
    padding-right: 10px;
}

.semantic-clue-drawing {
    object-fit: cover;
    height: 50px;
    border: 1px solid black;
}

#image-viewer-overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}