div {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.spacer {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

#error {
    pointer-events: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
}

#error.severity-info {
    background-color: rgba(173, 216, 230, 0.9);
}

#error.severity-warning {
    background-color: rgba(255, 255, 0, 0.9);
}

#error.severity-error {
    background-color: rgba(240, 128, 128, 0.9);
}


body, input {
    font-family: ui-monospace,
        Menlo, Monaco,
        "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Mono",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Consolas", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 0;
    background-color: #cec;
}

#sidebar {
    min-width: 350px;
    gap: 0;
}

.sidebar-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#welcome, #lobby, #in_game {
    padding: 10px;
}

#lobby, #in_game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

#lobby-teams > div {
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
    min-width: 350px;
}

#sidebar {
    background-color: #eee;
    max-width: fit-content;
}

.global-chat {
    padding: 10px;
    min-width: 300px;
    background-color: #cce;
}

.messages {
    max-height: 50vh;
    min-height: 100px;
    overflow-y: scroll;
    padding-right: 10px;
    gap: 5px;
}

.chat-message {
    gap: 10px;
    justify-content: flex-start;
}

.chat-message .content {
    max-width: 500px;
}

.chat-message .mention {
    background-color: #aaa;
    border-radius: 5px;
    padding: 2px 5px;
}

.chat-message .author {
    font-weight: bold;
}

.system-msg > .author {
    font-style: italic;
}

.player-list {
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
}

.team {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

.history {
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}

.history th, .history td {
    border: 1px solid black;
}

.history td {
    padding: 5px
}

.col-clue {
    min-width: 120px;
    max-width: 20vw;
    overflow-x: scroll;
}